
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main>
    <div class="main-part">

        <section class="breadcrumb-nav">
            <div class="container" style="text-align:center">
                <div class="breadcrumb-nav-inner">
                    <label class="now">BLOG</label>
                </div>
            </div>
        </section>

        <!-- Start Blog List -->

        <section class="default-section blog-main-section text-center blog-main-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="blog-right-section">
                            <div class="blog-right-listing wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="feature-img">
                                    <img src="~/Content/Layout/User/images/img32.png" alt="">
                                    <div class="date-feature">27 <br> <small>may</small></div>
                                </div>
                                <div class="feature-info">
                                    <span><i class="icon-user-1"></i> By Ali TUFAN</span>
                                    <span><i class="icon-comment-5"></i> 5 Comments</span>
                                    <h5>How Do You Like Your Sausage?</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                    <a href="blog_single.html" class="button-default">Read More <i class="icon-right-4"></i></a>
                                </div>
                            </div>
                            <div class="blog-right-listing wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="feature-img">
                                    <img src="~/Content/Layout/User/images/img33.png" alt="">
                                    <div class="date-feature">27 <br> <small>may</small></div>
                                </div>
                                <div class="feature-info">
                                    <span><i class="icon-user-1"></i> By Ali TUFAN</span>
                                    <span><i class="icon-comment-5"></i> 5 Comments</span>
                                    <h5>There are many variations of passages</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                    <a href="blog_single.html" class="button-default">Read More <i class="icon-right-4"></i></a>
                                </div>
                            </div>
                            <div class="blog-right-listing wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="feature-img">
                                    <img src="~/Content/Layout/User/images/img34.png" alt="">
                                    <div class="date-feature">27 <br> <small>may</small></div>
                                </div>
                                <div class="feature-info">
                                    <span><i class="icon-user-1"></i> By Ali TUFAN</span>
                                    <span><i class="icon-comment-5"></i> 5 Comments</span>
                                    <h5>There are many variations of passages</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus.</p>
                                    <a href="blog_single.html" class="button-default">Read More <i class="icon-right-4"></i></a>
                                </div>
                            </div>
                            <div class="gallery-pagination">
                                <div class="gallery-pagination-inner">
                                    <ul>
                                        <li><a href="#" class="pagination-prev"><i class="icon-left-4"></i> <span>PREV page</span></a></li>
                                        <li class="active"><a href="#"><span>1</span></a></li>
                                        <li><a href="#"><span>2</span></a></li>
                                        <li><a href="#"><span>3</span></a></li>
                                        <li><a href="#" class="pagination-next"><span>next page</span> <i class="icon-right-4"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Blog List -->

    </div>
</main>  