
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main>
    <div class="main-part">
        <section class="default-section contact-part pad-top-remove">
            <div class="container">
                <div class="title text-center">
                    <h2 class="text-coffee" style="color: #c19942 ">Liên Hệ</h2>
                    <h6>UniCafe là hệ thống quản lí quán Cafe được thành lập vào năm 2023</h6>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h5 class="text-coffee">Để lại tin nhắn cho chúng tôi</h5>
                        <form class="form" method="post" name="contact-form">
                            <div class="alert-container"></div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Họ *</label>
                                    <input name="first_name" type="text" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Tên *</label>
                                    <input name="last_name" type="text" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Email *</label>
                                    <input name="email" type="email" required>
                                </div>
                               
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Lời nhắn *</label>
                                    <textarea name="message" required></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input name="submit" value="GỬI" class="submit-btn send_message" type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <address>
                            <span class="text-primary co-title">Địa chỉ</span>
                            <p>329 Queensberry Street, North Melbourne  VIC 3051, Australia.</p>
                            <p><a href="tel:1234567890">032 6565 400</a> <br> <a href="mailto:support@unicafe.com">support@unicafe.com</a></p>
                        </address>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>  