
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main>
    <div class="main-part">
        <section class="default-section contact-part pad-top-remove">
            <div class="container">
                <div class="title text-center">
                    <h2 class="text-coffee" style="color: #c19942 ">Liên Hệ</h2>
                    <h6>UniCafe là hệ thống quản lí quán Cafe được thành lập vào năm 2023</h6>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-8 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h5 class="text-coffee">Để lại tin nhắn cho chúng tôi</h5>
                        <form class="form" method="post" name="contact-form">
                            <div class="alert-container"></div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Họ *</label>
                                    <input name="first_name" type="text" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Tên *</label>
                                    <input name="last_name" type="text" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Email *</label>
                                    <input name="email" type="email" required>
                                </div>
                               
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Lời nhắn *</label>
                                    <textarea name="message" required></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input name="submit" value="GỬI" class="submit-btn send_message" type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 col-sm-4 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d692.666522859533!2d106.80542313721728!3d10.863738203048896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDUxJzQ4LjkiTiAxMDbCsDQ4JzIwLjQiRQ!5e0!3m2!1svi!2s!4v1680446972833!5m2!1svi!2s" style="border:0;height: 500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>  