
@{
    ViewBag.Title = "Khuyến Mãi";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main>
    <div class="main-part">

        <section class="breadcrumb-nav">
            <div class="container" style="text-align:center;">
                <div class="breadcrumb-nav-inner">
                    <label class="now">KHUYẾN MÃI</label>
                </div>
            </div>
        </section>

        <!-- Start Service List -->

        <section class="default-section gallery-megic gallery-box">
            <div class="container">
                <div class="galereya-grid">
                    <div class="msrItem big-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big6.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery12.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <h2>TRADITIONAL COFFEE</h2>
                                            <span>Coffee / Tea</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem small-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big7.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery16.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <span>Coffee / Tea</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem small-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big8.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery17.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <span>Coffee / Tea</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem wide-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big9.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery18.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <h4>TRADITIONAL COFFEE</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem small-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big10.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery13.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <span>Coffee / Tea</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem small-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big11.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery14.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <span>Coffee / Tea</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem big-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big12.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery19.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <h2>TRADITIONAL COFFEE</h2>
                                            <span>Coffee / Tea</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="msrItem wide-grid-item">
                        <div class="gallery-megic-blog">
                            <a href="images/gallery/gallery-big13.jpg" class="gallery-popup">
                                <img src="~/Content/Layout/User/images/gallery/gallery15.jpg" alt="" class="galereya-cell-img">
                                <div class="gallery-megic-inner">
                                    <div class="gallery-megic-out">
                                        <div class="gallery-megic-detail">
                                            <h4>TRADITIONAL COFFEE</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gallery-pagination">
                    <div class="gallery-pagination-inner">
                        <ul>
                            <li><a href="#" class="pagination-prev"><i class="icon-left-4"></i> <span>PREV page</span></a></li>
                            <li class="active"><a href="#"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#" class="pagination-next"><span>next page</span> <i class="icon-right-4"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Service List -->


    </div>
</main>  