
@{
    ViewBag.Title = "CompleteOrder";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}



<main>
    <div class="main-part">

        <!-- Start Shop Cart -->

        <section class="default-section shop-checkout bg-grey">
            <div class="container">
                <div class="checkout-wrap wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <ul class="checkout-bar">
                        <li class="done-proceed">Shopping Cart</li>
                        <li class="done-proceed">Checkout</li>
                        <li class="active">Order Complete</li>
                    </ul>
                </div>
                <div class="text-center">
                    <p>Bạn đã đặt hàng thành công</p>
                    <p>Cảm ơn bạn vì giữa muôn vàn sự lựa chọn đã chọn <b>UniCafe</b></p>
                    <p>Xem chi tiết đơn đặt hàng của bạn <a href="SearchOrder/@TempData["orderCode"]">tại đây</a></p>
                </div>
            </div>
        </section>

        <!-- End Shop Cart -->

    </div>
</main>  