
@{
    ViewBag.Title = "CompleteOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompleteOrder</h2>
<div class="text-center">
    <p>Bạn đã đặt hàng thành công</p>
    <p>Cảm ơn bạn vì giữa muôn vàn sự lựa chọn đã chọn <b>UniCafe</b></p>
    <p>Xem chi tiết đơn đặt hàng của bạn <a href="SearchOrder/@TempData["orderCode"]">tại đây</a></p>
    <img src="https://discloud.owlvernyte.tk/file/38355c98cee4379e50e92dd962aa3d87/thanks.gif">
</div>
