
@{
    ViewBag.Title = "IndexSearchOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexSearchOrder</h2>
<form action="/Order/SearchOrder">
    <input class="form-control" type="text" name="OrderCode" placeholder="Nhap ma don hang cua ban" />
    <button class="btn btn-success">Tra cuu</button>
</form>

